.Header{
    background-color: var(--turquesa);
    height: 100%;

    font-family: Montserrat;
    font-weight: 500;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Header__image {
    width: auto;
    height: 8vh;
    margin-left: 10vw;
}

.Header__div{
    margin-right: 10vw;
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}

.Header__div--link{
    text-decoration: none;
    color: #FFF;
    font-size: 1.8rem;
}

.Header__div--link:hover{
    color: rgb(206, 206, 206);
}

@media (max-width: 850px) {
  .Header__image {
    height: 7vh;
  }

  .Header__div--link {
    font-size: 1.2rem;
  }
}

@media (max-width: 540px) {
  .Header__image {
    height: 6vh;
  }

  .Header__div--link {
      font-size: 1.0rem;
  }

  .Header__div {
    margin-left: 5%;
    text-align: center;
    flex-direction: column;
    gap: 5px;
  }
}
